/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * Custom styles for ffvcoop.com
 */
 
 
 .lt-ie9 lt-ie8 lt-ie7 h3 {
 	padding:top: 6px;
 }
 
 table.views-table {
 	width:100%;
 }
 
 td.active {
	background-color: inherit;
}
 
 html {
 	font-family:"Tahoma, Arial, Helvetica, sans-serif";
 	line-height: 1.5em;
 	font-size:105%;
 	
 }
 
 #header { 
	background-color:rgb(63,156,45);
	color:rgb(255,255,255);
	padding:10px; 
	font-family: "Tahoma, Arial, Helvetica, sans-serif";
 }
 
 div#name-and-slogan {
 	margin-left:6px;
 }
 
 div#navigation {
 	color:rgb(255,255,255);
 	background-color:rgb(242,176,53);
 	padding:10px;
 }
 
 div#header_address {
	position: absolute;
	top: 48px;
	width: 100%;
	background-color:#d63220;
	text-align:center;
	color:#fff;
	padding-top:2px;
 }
 
 div#email-header {
	color: white;
	border: 1px solid white;
	padding: 6px;
 }
 
  div#email-header a{
  	text-decoration:none;
  	color:white;
  	}
 
 div#email-header a:hover, div#email-header a:visited{
 color:white;
 text-decoration:none;
 }
 
 div#content {
 	margin-top:26px;
 }
 
 aside.sidebars {
	margin-top:26px;
 }
 
#main-menu a {
 	color: #000;
 	font-weight: 700;
 	padding: 8px;
 	font-family: "Tahoma, Arial, Helvetica, sans-serif";
 	text-decoration:none;
 	font-size: 1.2em;
 	
 }
 
#main-menu a.active {
  	color:#fff;
  	}
  	
#main-menu a:hover {
   	color:rgb(63,156,45);
   	}
   	
div#phone-nav {
	color:#000;
	float:right;
	position:relative;
	top:-22px;
	margin-right:10px;
}   	

div#email-header {
	float:right;
	position:relative;
	margin-right:10px;
	margin-top:15px;
	font-size:2em;
} 

div#highlighted{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:0px;
	padding-top:0px;
	text-align:center;
}

div#highlighted h2{
	line-height:1em;
	margin-top:0;
}
   	
div#block-block-2 {
	text-align:center;
}

div#block-block-3 {
	font-size:.6em;
	text-align:center;
}

div#block-block-11, div#block-block-13 {
	text-align:left;
	padding: 16px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	background-color: #E6C19C;
}

/**
 ************************ Products View  ****************************
 */

div#products-image {
	float:left;
	}
div#products-image img{	
	border:2px solid #d63220;
	border-radius: 15px;
	margin: 15px;
	
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
 	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  	box-shadow:         3px 3px 5px 6px #ccc;
} 

div#products-text-area {
	float:left;
}
 
/**
 ************************ Forms  ****************************
 */ 
form#views-exposed-form-weekly-orders-all--page, form#ffvcoop-new-user-new-user-form, 
form#views-form-weekly-email-block-1, form#views-exposed-form-weekly-email-block-1,
form#views-exposed-form-customer-list-page, form#views-exposed-form-weekly-customer-orders-page-1 {
	border:2px solid #5C7A99;
	border-radius: 15px;
	background-color: #E8ECF1;
	padding:15px;
} 

#ffvcoop-new-user-new-user-form label {
	display: inline;
	font-weight: normal; 
	padding-right:8px;
}

form#ffvcoop-new-user-new-user-form.form-item {
	margin:1em;
}

form#ffvcoop-new-user-new-user-form input[type="submit"] {
	margin-left: 85%;
	margin-top: 16px;
}

form#views-form-weekly-email-block-1 table{
	width:100%;
}

th.views-field a{ 
	color:#002952;
	text-decoration:none;
}

th.views-field a:after{
  background:url('images/sort.png');
  width: 13px;
  height: 13px;
  display:block;
}

th.views-field-title:before {
	/* content: 'Name'; */
}

th.views-field-views-send:before {
		content: 'Select All';
		font-weight:normal;
		margin-left:-30px;

}

.form-type-checkbox {
	display:inline;
}

th.views-field-title {
			display:inline;
}

th.views-field-body {
		width:175px;
}

th.views-field-field-customer-delivery-address {
		width:175px;
}

th.views-field .views-field-field-order-price {
	width:55px;
}

.view-weekly-orders-all- {
	font-size:.75em;
    line-height:95%;
}

.block block-block {
 		border-radius: 15px;
 		}
 		
div#summary-link, div#block-block-18 {
	border-radius:15px;
	border 1px solid black;
	background-color:rgb(63,156,45);
	padding:5px;
	max-width: 20%;
	font-size: 1.3em;

} 	

div#block-block-18 {
max-width: 30%;
text-align:center;
}

div#summary-link {
	position: relative;
	top: 140px;
	margin-left: 75%;
}

div#summary-link a, div#summary-link a:hover, div#summary-link a:visited, 
div#block-block-18 a, div#block-block-18 a:hover, div#block-block-18 a:visited {
	color:white;
	text-decoration:none;
} 	
 		
/**
 ************************ PHONE STYLES ****************************
 */ 		
 		
@media screen and (max-width: 480px) {
   div#header_address {
	top: 166px;
  }
  #main-menu a {
  	font-size: 1em;
  }
  
  div#phone-nav {
  	display:none;
  }
  
  div#navigation {
  	width: 100%;
	top: 121px;
	position: absolute;
	}
  div#highlighted {
	margin-top: 100px;
	}	
   div#email-header {
   	font-size:1em;
   	margin-top:0;
   	
   }	
   
   .header__site-name {
   		font-size:1.5em;
   }
   
   form#ffvcoop-new-user-new-user-form input[type="submit"] {
   	  margin-left:75%;
   }
	
}

@media screen and (max-width: 394px) { 
   div#header_address {
	top: 126px;
  }
  #main-menu a {
  	font-size: 1em;
  }
  
  div#phone-nav {
  	display:none;
  }
  
  div#navigation {
  	width: 100%;
	top: 84px;
	position: absolute;
	}
  div#highlighted {
	margin-top: 80px;
	}	
  div#email-header {
	font-size: .7em;
	margin-top: -20px;
	margin-left:78%;
   	
   }	
   
   .header__site-name {
   		font-size:1.2em;
   }
   
   form#ffvcoop-new-user-new-user-form input[type="submit"] {
   	  margin-left:75%;
   }
	
}

@media screen and (max-width: 320px) { /* iphone 5 */
   div#header_address {
	top: 126px;
  }
  #main-menu a {
  	font-size: 1em;
  }
  
  div#phone-nav {
  	display:none;
  }
  
  div#navigation {
  	width: 100%;
	top: 84px;
	position: absolute;
	}
  div#highlighted {
	margin-top: 80px;
	}	
  div#email-header {
	font-size: .6em;
	margin-top: -20px;
	margin-left: 70%;
	padding:4px;
	margin-right:0
   	
   }	
   
   .header__site-name {
   		font-size:1.0em;
   }
   
   .header__site-slogan {
   		font-size:.75em;
   }
   
   form#ffvcoop-new-user-new-user-form input[type="submit"] {
   	  margin-left:55%;
   }
	
}


/********  Move the save button to the top **********/
form#views-form-weekly-email-block-1 div.form-actions.form-wrapper{
	position:absolute;
	top:16px;
	left:23%;
	/*border:1px solid black;
	padding:12px 0px 7px 15px;
	background-color:gray;*/
}

#edit-submit-weekly-orders-all- {
	background-color:rgb(63,156,45);
}
